/* GLOBAL */
/* GLOBAL */
@font-face {
    font-family: Gothic;
    src: url("../fonts/CenturyGothic/GOTHIC.TTF");
}
*{ margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Gothic;
    font-weight: lighter;
}

h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

/* HEADER */
/* HEADER */

header{
    background-color: #0C0F0A;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
nav div{
    height: 100px;
    width: 100px;
    background-image: url("../img/profilPictureVitrine.png");
    background-position: center;
    background-size: cover;
}
header ul li{
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    padding-right: 100px;
    padding-top: 35px;
}
header a{
    color: white;
}

/* MAIN */
/* MAIN */

/* SECTION MYNAME */
/* SECTION MYNAME */

#myName{
    background-image: url("../img/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-top: 100px;
}
#myName div{
    width: 100px;
    height: 100px;
    background-image: url("../img/profilPictureVitrine.png");
    background-position: center;
    background-size: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}
#myName h1{
    margin-top: 100px;
    margin-bottom: 30px;
}

/* SECTION PROFIL */
/* SECTION PROFIL */

#profil{
    background-color: #333533;
    height: 450px;
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    color: white;
}
#profil div:first-child{
    background-image: url("../img/profilPictureVitrine.png");
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#profil h2{
    padding-bottom: 30px;
}
#profil div:last-child{
    width: 500px;
}
#profil p{
    text-align: center;
    font-size: 24px;
    line-height: 1.8;
}

/* SECTION CURRENT */
/* SECTION CURRENT */

#current{
    height: 200px;
    background-image: url("../img/james-harrison-vpOeXr5wmR4-unsplash.jpg");
    background-position: bottom;
    background-size: cover;
    padding-top: 100px;
}
#current h2{
    padding-bottom: 30px;
}
#current span{
    font-size: 24px;
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

/* SECTION GALLERIE */
/* SECTION GALLERIE */

#gallery{
    background-color: #333533;
    height: 650px;
    padding-top: 50px;
}
#gallery>div{
    display: flex;
    justify-content: space-around;
}
#gallery>h2{
    padding-bottom: 150px;
}
#gallery article{
    width: 350px;
}
#gallery article>h2{
    padding-bottom: 30px;
}
#gallery article>div{
    border: solid 1px white;
    height: 350px;
    transition: 0.2s;
}
#gallery article>div:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 16px 2px black;
}

/* SECTION SKILLS */
/* SECTION SKILLS */

#skills{
    background-color: #9D69A3;
    padding-top: 200px;
    padding-bottom: 130px;
}
#skillsFlex{
    display: flex;
    justify-content: space-evenly;
}
#skillsFlex div:first-child{
    width: 450PX;
}
#skillsFlex div:first-child h2{
    padding: 150px 0px 30px;
}
#skillsFlex div:first-child p{
    font-size: 24px;
    text-align: center;
    color: white;
    line-height: 1.8;
}
#skillsFlex div:last-child{
    border: solid 1px black;
    width: 450px;
    height: 650px;
    background-image: url("../img/cv.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
#skillsFlex div a{
    font-size: 24px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -54px;
    border: solid 1px white;
    padding: 8px 32px;
    border-radius: 4px;
    transition: 0.2s;
}
#skillsFlex div a:hover{
    background-color: white;
    color: #9D69A3;
    border: solid 1px #6a466e;
}

/* FOOTER */
/* FOOTER */

footer{
    background-color: #0C0F0A;
    color: white;
    text-align: center;
    padding: 16px;
}

/* MEDIA SCREEN */
/* MEDIA SCREEN */

@media screen and (max-width: 834px) {
    /* HEADER */
    nav div{
        display: none;
    }
    header ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    header ul li{
        padding: 0px;
        padding-bottom: 15px;
    }
    /* SECTION MYNAME */
    #myName{
        display: none;
    }
    /* SECTION PROFIL */
    #profil{
        padding-top: 50px;
        height: 350px;
    }
    #profil div:first-child{
        height: 200px;
        width: 200px;
        margin-top: 50px;
    }
    #profil div:last-child{
        width: 300px;
    }
    #profil p{
        font-size: 16px;
    }
    /* SECTION CURRENT */
    #current{
        height: 150px;
        padding-top: 50px;
    }
    /* SECTION GALLERY */
    #gallery{
        height: 450px;
    }
    #gallery>h2{
        padding-bottom: 50px;
    }
    #gallery article{
        width: 250px;
    }
    #gallery article>h2{
        font-size: 20px;
    }
    #gallery article>div{
        height: 250px;
    }
    /* SECTION SKILLS */
    #skills{
        padding-top: 100px;
    }
    #skillsFlex div:first-child{
        width: 250px;
    }
    #skillsFlex div:first-child h2{
        padding: 50px 0px 30px;
    }
    #skillsFlex div:last-child{
        height: 450px;
        width: 300px;
    }
    #skillsFlex div:first-child p{   
        font-size: 20px;
        line-height: 1.8;
    }
    #skillsFlex div a{
        font-size: 20px;
    }
}